<h2>{{ book.name }}'s Sheets</h2>
<nav class="tab-nav" role="tablist">
  <span
    *ngFor="let sheet of book.sheets; let s = index"
    (click)="setActive(s)"
    class="nav-tab"
    [ngClass]="{'nav-tab--active': sheet.active}"
    role="tab"
  >
    <input [(ngModel)]="book.sheets[s].name" [attr.aria-label]="'Sheet ' + s + ' name'" />
    <button (click)="removeSheetAt(b, s)" title="Delete This Sheet">X</button>
    <button (click)="addSheetAt(b, s + 1)" title="Add Sheet">+</button>
  </span>
</nav>
<div class="tabbed-pane"
  *ngFor="let sheet of book.sheets; let s = index; trackBy: trackByIndex"
>
  <app-sheet
    [sheet]="sheet"
    [b]="b"
    [s]="s"
    *ngIf="sheet.active"
  ></app-sheet>
</div>
