<div>
  <button (click)="save()">Save</button>
  <button>Export</button>
  <button>Import</button>
</div>
<nav>
  <span
    *ngFor="let book of books; let b = index"
    (click)="activeBook = book"
  >
    <input [(ngModel)]="books[b].name" />
    <button (click)="removeBookAt(b)">X</button>
    <button (click)="addBookAt(b + 1)">+</button>
  </span>
</nav>
<ng-container
*ngFor="let book of books; let b = index; trackBy: trackByIndex"
>

  <app-book
  [book]="book"
  [b]="b"
  *ngIf="book === activeBook"
  ></app-book>
</ng-container>
{{ books | json }}
