<h3>{{ sheet.name }}</h3>
<div
  style="display: grid"
  [ngStyle]="{ 'grid-template-columns': getGridTemplateColumns(sheet) }"
>
  <span
    class="column-header"
    *ngFor="let column of sheet.columns; let c = index; trackBy: trackByIndex"
  >
    <input [(ngModel)]="sheet.columns[c].name" [attr.aria-label]="'Column ' + c + ' header'"/>
    <button (click)="removeColumn(sheet, column)" title="Delete This Column">X</button>
    <button (click)="addColumn(b, s, c + 1)" title="Add Column">+</button>
    <button (click)="toggleSort(b, s, c)" title="Toggle Sort">{{ column.sort }}</button>
  </span>
  <button title="View More Options" class="column-header-button">...</button>
  <ng-container
    *ngFor="let row of sheet.rows; let r = index; trackBy: trackByIndex"
  >
    <app-row
      [row]="row"
      [b]="b"
      [s]="s"
      [r]="r"
      [ngStyle]="{
        'grid-column-start': '1',
        'grid-column-end': row.data.length + 2
      }"
    ></app-row>
  </ng-container>
  <button (click)="addRowAt(b, s, sheet.rows.length)" title="Add Row">Add Row</button>
</div>
