<h1>{{ sheet.name }}</h1>

<div
  style="display: grid"
  [ngStyle]="{ 'grid-template-columns': getGridTemplateColumns(sheet) }"
>
  <span
    class="column-header"
    *ngFor="let column of sheet.columns; let c = index; trackBy: trackByIndex"
  >
    <input [(ngModel)]="sheet.columns[c].name" />
    <button (click)="removeColumn(sheet, column)">X</button>
    <button (click)="addColumn(b, s, c + 1)">+</button>
    <button (click)="toggleSort(b, s, c)">{{ column.sort }}</button>
  </span>
  <button>...</button>
  <ng-container
    *ngFor="let row of sheet.rows; let r = index; trackBy: trackByIndex"
  >
    <app-row
      [row]="row"
      [b]="b"
      [s]="s"
      [r]="r"
      [ngStyle]="{
        'grid-column-start': '1',
        'grid-column-end': row.length + 2
      }"
    ></app-row>
  </ng-container>
  <button (click)="addRowAt(b, s, sheet.rows.length)">Add Row</button>
</div>
