/* You can add global styles to this file, and also import other style files */
:root {
}
* {
  font-family: 'Courier New', Courier, monospace;
}
body {
  background-color: #f0eeee;
  min-width: fit-content;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  padding: 8px;
}
textarea {
  width: 600vw;
  max-width: 90vw;
  box-sizing: border-box;
  height: 600px;
}
input {
  border-width: 1px;
  border-radius: 0;
  border-color: rgba(0, 0, 0, 0.15);
  font-size: 16px;
  background-color: transparent;
}

button, .button-like {
  background-color: rgb(223, 222, 222);
  color: black;
  border-color: rgba(0, 0, 0, .85);
  border-width: 1px;
  border-radius: 0;
  border-style: solid;
  padding: 1px 6px;
  text-decoration: none;
  font-size: 16px;
  box-sizing: border-box;
  min-width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tabbed-pane {
}

.tab-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 2px;

  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: black;
}

.nav-tab {
  display: flex;
  flex-direction: row;

  padding: 6px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: black;

  border-radius: 8px 8px 0px 0px;
}

.nav-tab--active {
  background-color: rgb(247, 215, 147);
  margin-bottom: -2px;
}

button:hover, .button-like:hover {
  background-color: rgb(243, 242, 242);
}

button:active, .button-like:active {
  background-color: white;
}

h1, h2, h3 {
  text-shadow: -2px -2px 2px rgb(182 164 164 / 50%);
  padding: 4px;
  width: fit-content;
}
